<h1>Help</h1>
<div class="row">
	<div class="span3">
		<%= image_tag 'help.jpg', class: 'img-circle' %>
	</div>
	<div class="span1">
		<p></p>
	</div>
	<div class="span6">
		<p>Not sure what you're doing?</p>
		<p>How about you look at some <%= link_to "art", works_path %></p>
	</div>
</div>
