<div class="center hero-unit">
	<h1>Welcome to the Gallery</h1>
	<p>
		A selection of great Impressionist Works
	</p>

	<%= link_to "See the Art", 	 works_path(style: 'grid'), class: "btn btn-large btn-primary" %>
	<%= link_to "See the Style", style_path, class: "btn btn-large btn-secondary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>