<h1>Impressionism</h1>

</br>

<h2>History</h2>
<div class="well">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Impressionist style began during the 1800's in France. The art movement first got its name from an exhibition in Paris. At this show the group of artists were mockingly labeled 'Impressionists' from the title of Claude Monet's famous work, 'Impression, Sunrise'. 
</div>

</br>

<h2>Techniques and Characteristics</h2>
<div class="well">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due to the increasing development of photography as well as the strict traditional rules of art at the time, the Impressionists wished to depict what could not by captured by a camera, or with the old academic models. Instead of attempting to capture the most accurate and acute detail, these artists would venture to replicate the truest sensation of a given moment. In this pursuit, the Impressionists stessed the significance of the fleeting, ephemeral moment. Subjects thus, would often concern those transient moments of sunrise and sunset. Because of the artists' disinterest with minute detail and their short-lived subject matter, their brushstrokes became loose and visible. The texture which this technique often creates enhances the feeling of the momentary. As well, with this style of brushwork the artists depictd movement in a new way. Instead of painting an scene frozen in time, as artists often did in the past, the Impressionists sought to portray the entire action of the subject matter.
</div>