<h1>The Impressionists</h1>

<div class="btn-toolbar"; align="right">
  <div class="btn-group">
  	<a class="btn" href= <%= works_path(style: 'grid') %> ><i class="icon-th"></i></a>
    <a class="btn" href= <%= works_path(style: 'list') %> ><i class="icon-th-list"></i></a>
  </div>
</div>

<% if @style == 'list' %>
	<%= render 'index_list' %>
<% else %>
	<%= render 'index_grid' %>
<% end %>